<h2>Edit <%= @admin.first_name%></h2>
edit path for admin

<%= resource %>


<%= form_for(@admin, urL: registration_path(@admin) , method: :put, html: {class: "form-group"}) do |f| %>
<%# <%= form_for(@admin, ) do |f| %> %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<%#
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <%# <div>Currently waiting confirmation for: <%= resource.unconfirmed_email </div> %>
  <%# <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <%# fields for first_name, last_name, phone, birth_date, is_admin %>
  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :Apellido %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :Teléfono %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :Fecha_de_nacimiento %><br />
    <%= f.date_field :birth_date %>
  </div>

  <div class="field mt-2 mb-2">
      <%= f.label "Es administrador", sytle:"margin-right:2px" %>
      <%= f.check_box :is_admin, style:"margin-top:2px" %>
    </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>





  <div class="actions ">
    <%= f.submit "Update", class:"btn btn-primary p-1 mt-2" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(@admin), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
