<head>
    <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/38e5d75ed7.js" crossorigin="anonymous"></script>
</head>

<div class="text-center">

    <h1 class="mt-4 mb-5 font">Alquileres en curso en este momento</h1>

    <div class="container d-flex">

        <% for alquiler in @alquileres_en_curso %>

            <div class="container d-flex align-items-stretch border shadow m-3"> 
                <!--<i class="align-self-center fa-solid fa-circle-info fa-7x m-3" style="color: #f59e3e"></i>-->
                <%if alquiler.auto.imagen.attached?%>
                    <%= image_tag(alquiler.auto.imagen, class:"icon_admins_list") %>
                <%else%>
                    <i class="align-self-center fa-solid fa-car-side fa-7x m-3" style="color: #f59e3e"></i>
                <%end%>
                <div class="align-self-center ms-1" style="text-align: left">
                    <h5 class="font"> <i class="fa-solid fa-car me-2 fa-lg" style="color: #9B9BA0"></i> <b><%= alquiler.auto.modelo %></b> <%= alquiler.auto.patente %> </h5>
                    <h5 class="font"> <i class="fa-solid fa-user me-2 fa-lg" style="color: #9B9BA0"></i> <%= alquiler.user.first_name %> <%= alquiler.user.last_name %> </h5>
                    <h5 class="font"> <i class="fa-solid fa-calendar-alt me-2 fa-lg" style="color: #9B9BA0"></i> <%= alquiler.fecha_devolucion.strftime("%d/%m/%y") %> <%= alquiler.hora_devolucion.strftime("%H:%M:%M") %> </h5>
                </div>
            </div>
        <% end %>
    </div>
        



</div>







<style>

    .border{
        background-color: #F5F5F5;
        border: 2px solid black;
        border-radius: 15px;
    }

    .font{
        font-family: 'Varela Round';
    }

    .icon_admins_list{
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin: 10px;
    }

</style>

<script>

    var eleccion = document.getElementById("eleccion-auto");

    eleccion.addEventListener("click", function(e){
        var seleccionado = e.target.innerHTML;
        var id = e.target.id;
        var patente = id.split("_")[0];
        console.log(patente);

        modelo = seleccionado.split("-")[0];
        boldModelo = "<b>" + modelo + "</b>";

        var dropdownButton = document.getElementById("dropdown-button");
        dropdownButton.innerHTML = boldModelo + " - " + patente;


        var graficoPorAuto = document.getElementById("grafico-por-auto");
        var graficoPorAutoChildren = graficoPorAuto.children;
        for (var i = 0; i < graficoPorAutoChildren.length; i++) {
            graficoPorAutoChildren[i].hidden = true;
        }

        var conteiner = document.getElementById(patente + "-container");
        conteiner.hidden = false;

    });


</script>


