<html> 

<head>
    <script src="https://kit.fontawesome.com/38e5d75ed7.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
</head>

<h1 class="font bold pt-5 text-center"> Hola <%= @admin.first_name%>! Aquí hay un resumen del día de hoy </h1>

<div style="height: 80%; justify-content: center; align-items: center; display: flex; flex-direction: column;">

    <div class="container d-flex">
        <% if @admin.is_admin == false %>
        <span></span>
        <%else%>
        <div class="btn container d-flex align-items-stretch border shadow m-3" id="ganancias">
            <i class="align-self-center fa-solid fa-dollar-sign fa-5x m-3" style="color: #f59e3e"></i>
            <div class="align-self-center text-center m-auto">
                <h5 class="font"> Dinero recaudado hoy</h5>
                <h2 class="font bold" style="color: #f59e3e"> $ <%= @dinero_recaudado_hoy %> </h2>
            </div>
        </div>
        <%end%>

        <div class="btn container d-flex border shadow m-3" id="en-curso">
            <i class="fa-solid fa-car-side align-self-center fa-5x m-3" style="color: #f59e3e"></i>
            <div class="align-self-center text-center m-auto">
                <h5 class="font"> Alquileres en curso </h5>
                <% if @usuarios_alquilando.empty? %>
                    <h2 class="font bold" style="color: #f59e3e"> Ninguno </h2>
                <% else %>
                    <h2 class="font bold" style="color: #f59e3e"> <%= @usuarios_alquilando.size %> </h2>
                <% end %>
            </div>
        </div>
        
    </div>

    <div class="container d-flex">
        <div class="btn container d-flex border shadow m-3" id="alquileres">
            <i class="fa-solid fa-chart-pie align-self-center fa-5x m-3" style="color: #f59e3e"></i>
            <div class="align-self-center text-center m-auto">
                <h5 class="font"> Auto más pedido hoy </h5>
                <% if @mas_alquilado_hoy.nil? %>
                    <h2 class="font bold" style="color: #f59e3e"> Ninguno </h2>
                <% else %>
                    <h2 class="font bold" style="color: #f59e3e"> <%= @mas_alquilado_hoy.modelo %> </h2>
                <% end %>
            </div>
        </div>

        <div class="btn container d-flex border shadow m-3" id="reportes">
            <i class="align-self-center fa-solid fa-flag fa-5x m-3" style="color: #f59e3e"></i>
            <div class="align-self-center text-center m-auto">
                <h5 class="font"> Reportes hechos hoy </h5>
                <% if @reportes_hoy.nil? %>
                    <h2 class="font bold" style="color: #f59e3e"> Ninguno </h2>
                <% else %>
                    <h2 class="font bold" style="color: #f59e3e"> <%= @reportes_hoy  %> </h2>
                <% end %>
            </div>
        </div>
    </div>

</div>

<style>

    .font{
        font-family: 'Varela Round';
    }

    .border{
        background-color: #F5F5F5;
        border-color: #F5F5F5;
        border: 2px solid black;
        border-radius: 25px;
    }

</style>

<script>
    
    var alquileres = document.getElementById("alquileres");
    alquileres.addEventListener("click", function(){
        window.location.href = "/admins/estadisticas/alquileres";
    });

    var ganancias = document.getElementById("ganancias");
    ganancias.addEventListener("click", function(){
        window.location.href = "/admins/estadisticas/ganancias";
    });

    var enCurso = document.getElementById("en-curso");
    enCurso.addEventListener("click", function(){
        window.location.href = "/admins/estadisticas/en_curso";
    });

    var uso = document.getElementById("reportes");
    uso.addEventListener("click", function(){
        window.location.href = "/admins/estadisticas/reportes";
    });

</script>

</html>