<h1 class="h1 text-center">Supervisores registrados</h1>
<% if @admin != nil %>
  <%= render "admins/shared/error_messages", resource: @admin %>
<% end %>
<div class="container-sm m-5">
  <hr>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th class="fs-5">Supervisores</th>
        <%# <th class="fs-5">eMail</th> %>
      </tr>
      <%-@supervisors.each do |supervisor|-%>
        <tr>
          <td style="font-size: 1rem"><%= supervisor.first_name %> <%= supervisor.last_name %></td>

          <td style="font-size: 1rem">
            <%= link_to "Editar", "/admins/editSupervisor/#{supervisor.id}", class: "btn btn-primary p-1" %>
          </td>
          <td>
            <%= button_to "Eliminar", "/admins/deleteSupervisor/#{supervisor.id}", method: :delete, class: "btn btn-danger p-1" %>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>
