<h1>Perfil de <%= @user.first_name %></h1>
<%= render "admins/shared/error_messages", resource: @user %>
<p>apellido: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<p>Se registró el: <%= @user.created_at.strftime("%d/%m/%Y") %></p>

<p>Estado Actual: <%= @user.status %></p>

<%# Add a select tag to change the status %>
<%# <%= form_for(@user, as: :user, url: "/admins/updateUserStatus/#{@user.id}" , html: { method: :put }) do |f| %>
  <%# <%= f.select :status, options_for_select([["Validado", "Validado"], ["Inactivo", "Inactivo"]]) %>
  <%# <%= f.submit "Actualizar" %>
<%# <% end %>

<% if @user.licencia.attached? %>
    <%= image_tag(@user.licencia, width: 400) %>
<% else %>
    <label>No hay licencia para mostrar</label>
<% end %>
<br><br>

<%= link_to "Volver", "/admins/listar_usuarios", class: "btn btn-warning p-1" %>
<br><br><br><br><br><br><br><br>
