<h1>Perfil de <%= @user.first_name %></h1>
<p>Nombre: <%= @user.first_name %></p>
<p>apellido: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<p>Se registró el: <%= @user.created_at.strftime("%d/%m/%Y") %></p>

<p>Estado Actual: <%= @user.status %></p>

<%
=begin%>
 #create a form to change the status
<%= form_for(user, as: user, url: "/admins/showUser/cambiarEstado/#{auto.id}" , html: { method: :put }) %>
  <%= f.label :status %>
  <%= f.select :status, options_for_select([["Activo", "active"], ["Inactivo", "inactive"]]) %>
  <%= f.submit "Cambiar" %>
<% end %> 
<%
=end%>




<% if @user.licencia.attached? %>
    <%= image_tag(@user.licencia, width: 400) %>
<% else %>
    <label>No hay licencia para mostrar</label>
<% end %>
<br><br>

<%= link_to "Volver", "/admins/listar_usuarios", class: "btn btn-warning p-1" %>
<br><br><br><br><br><br><br><br>
