<div class="border border-warning border-1 p-2">
<h2>Log in usuarios</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :Contraseña %><br />
    <%= f.password_field :password, autocomplete: "new-password", required: true, id:"user_password" %>
        <i  class=" fa " id="eye">&#xf06e;</i>
  </div>

  <div class="actions mt-2">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
