<h2>Edit <%= @admin.first_name%></h2>

<% resource = @admin %>
<% resource_name = :admin %>

<%= form_for(resource, as: resource_name, url: "/admins/updateSupervisor/#{@admin.id}" , html: { method: :put }) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", required:true %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%# fields for first_name, last_name, phone, birth_date, is_admin %>
  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :first_name, required:true %>
  </div>

  <div class="field">
    <%= f.label :Apellido %><br />
    <%= f.text_field :last_name, required:true %>
  </div>

  <div class="field">
    <%= f.label :DNI %><br />
    <%= f.number_field :dni, required: true %>
  </div>

  <div class="field">
    <%= f.label :Teléfono %><br />
    <%= f.text_field :phone, required:true %>
  </div>

  <div class="field">
      <%= f.label :fecha_de_nacimiento %><br />
      <%= f.date_field :birth_date, required: true, id:"datefield", min:'1899-01-01', max:'0-13-13', required:true %>
    </div>

  <div class="field mt-2 mb-2">
      <%= f.label "Es administrador", sytle:"margin-right:2px" %>
      <%= f.check_box :is_admin, style:"margin-top:2px" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", required:true %>
  </div>





  <div class="actions ">
    <%= f.submit "Update", class:"btn btn-primary p-1 mt-2" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
