<div class="mt-10vh text-center">
    <div class="d-print">
    <body>
        <div class="container pm-certificate-container">
            <div class="outer-border"></div>
            <div class="inner-border"></div>

            <div class="pm-certificate-border col-xs-12">
                <div class="row pm-certificate-header">
                    <div class="bold pm-certificate-title col-xs-12 text-center">
                        <h2>Autorización de uso <strong>Alquilapp</strong></h2>
                    </div>
                </div>

                <div class="row pm-certificate-body">



                    <div class="pm-certificate-block">

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                                <div class="pm-earned col-xs-8 text-center">
                                    <span class="pm-earned-text padding-0 block">se autoriza al señor/a</span>
                                </div>
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                                <div class="col-xs-12"></div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                                <div class="pm-certificate-name underline margin-0 col-xs-8 text-center">
                                    <span class="pm-name-text bold"><%=@user.first_name%> <%= @user.last_name%></span>
                                </div>
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                                <div class="pm-earned col-xs-8 text-center">
                                    <span class="pm-earned-text pt-2 padding-0 block">a conducir el vehículo</span>
                                </div>
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                                <div class="col-xs-12"></div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                                <div class="pm-course-title underline col-xs-8 text-center">
                                    <span class="pm-credits-text block sans">
                                        <strong><%=@auto.modelo%></strong>
                                         de patente
                                        <strong><%=@auto.patente%></strong>
                                    </span>
                                </div>
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                                <div class="pm-earned col-xs-8 text-center">
                                    <span class="pm-earned-text pt-2 padding-0 block">hasta</span>
                                </div>
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                                <div class="col-xs-12"></div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                                <div class="pm-course-title underline col-xs-8 text-center">
                                    <span class="pm-credits-text block sans">
                                        el día
                                        <strong><%=@alquiler.fecha_devolucion.to_s%></strong>
                                        a las
                                        <strong><%=@alquiler.hora_devolucion.to_a[2]%>:<%=@alquiler.hora_devolucion.to_a[1]%>
                                        hs </strong>
                                    </span>
                                </div>
                                <div class="col-xs-2">
                                    <!-- LEAVE EMPTY -->
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="col-xs-12">
                        <div class="row">
                            <div class="pm-certificate-footer">
                                <div class="col-xs-4 pm-certified col-xs-4 text-center">
                                    <span class="pm-empty-space block"></span>
                                    <span class="bold block"></span>
                                </div>
                                <div class="col-xs-4">
                                    <!-- LEAVE EMPTY -->
                                </div>
                                <div class="col-xs-4 pm-certified col-xs-4 text-center">
                                    <span class="pm-credits-text block sans"></span>
                                    <span class="pm-empty-space block"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </body>
    </div>

    <div class="col-xs-12 text-center pb-3 d-print-none">
        <button class="btn btn-warning mt-4" style="color: white" id="download" onclick="window.print()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFFFFF" class="bi bi-download me-2" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
            Guardar pdf
        </button>
    </div>

</div>