<head>
    <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/38e5d75ed7.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="mt-11vh">
    <h1 class="m-3 pt-3 pb-3 text-center">Aquí hay un resumen de tu viaje!</h1>

    <div class="container text-center border shadow">

        <div class="row mb-3 mt-4">
            <label class="titulos">Auto alquilado</label>
            <hr class="orange-light-hr">
            <p class="datos"><%=@auto.modelo%> <%=@auto.patente%></p>
        </div>


        <div class="row mb-3">
            <label class="titulos">Tiempo total del alquiler </label>
            <hr class="orange-light-hr">
            <p class="datos"><%=@tiempo%></p>
        </div>

        <div class="row mb-3">
            <label class="titulos">Costo total</label>

            <hr class="orange-light-hr">
            <p class="datos">$<%='%.2f' % @alquiler.precio_total%></p>

        </div>

        <% if @alquiler.tiempo_de_demora != nil %>
        <div class="row mb-3">
            <label class="titulos red-text">Tiempo de demora</label>

            <hr class="orange-light-hr">
            <p class="datos red-text"><%= "0d " + @alquiler.tiempo_de_demora.strftime("%Hh %Mm %Ss") %></p>

        </div>

        <div class="row mb-3">
            <label class="titulos red-text">Costo por demora</label>

            <hr class="orange-light-hr">
            <p class="datos red-text">$<%='%.2f' % @alquiler.precio_por_demora%></p>

        </div>
        <%end%>
    </div>

    <div class="bottom">
    <div class="row text-center d-flex">
        <div class="col">
            <span><span>
        </div>
        <div class="col-6 align-self-center">
            <button type="button" class="btn btn-warning btn-lg shadow rounded-5 text-center">
                <%= link_to "Entendido!", root_path, style: "text-decoration: none; color: white", class: ""%>
            </button>
        </div>
        <div class="col align-self-center">
            <button type="button" class="btn btn-secondary bien_redondito shadow" id="reportar">
                <i class="fa-regular fa-flag" style="color: white; margin-top: 0; margin-bottom: 0; margin-left: 0; margin-right: 0;"></i>
            </button>
        </div>
    </div>
    </div>

</div>
</body>

<script>
    var reportar = document.getElementById("reportar");
    reportar.addEventListener("click", function(){
        window.location.href = "/users/reportes/new";
    });
</script>

<style>

    body{
        display: flex;
        flex-direction: column;
    }

    .red-text{
        color: red;
    }

    .border{
        background-color: #F5F5F5;
        border: 2px solid black;
        border-radius: 10px;
        width: 90%;
    }

    .titulos{
        font-size: 1.2rem;
    }

    .datos{
        font-size: 1.5rem;
        font-weight: bold;
    }

    .orange-light-hr{
        border-top: 3px solid #000000;
        rounded: 5px;
        padding: 0;
        margin: 0;
        width: 80%;
        /* center hr */
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .bottom {
        position: fixed;
        left: 0;
        bottom: 3%;
        width: 100%;
        color: white;
        text-align: center;
    }

    .bien_redondito{
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }

</style>
