<div class="mb-10vh mt-10vh d-flex justify-content-center">
    <div class="d-flex flex-column " style="width:80%">
        <h4 class="p-2 align-self-start">Tu alquiler, <%=current_user.first_name %></h4>

        <a class="card align-self-center text-black" style="width: 16rem; text-decoration: none" href="/users/vehiculo/<%=@auto.id%>">
            <%if @auto.imagen.attached?%>
                <%= image_tag(@auto.imagen) %></td>
            <%else%>
                <label>Sin Foto</label>
            <%end%>
            <div class="card-body">
                <h5 class="card-title"><%=@auto.modelo%> <%=@auto.anio%></h5>
                <p class="card-text"><%=@auto.patente%></p>
            </div>
        </a>

        <div class="mt-4">
            <h5>Tiempo restante:</h5>
                <h4><div class="text-center pt-2 bold" id="countdown" style="color: #000000"></div></h4>
        </div>

        <div class="container map-bottom text-center" id="botones">
            <div class="row">

                <div class="col">
                    <button type="button" class="btn btn-success rounded-5">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check me-1 mb-1 ms-2" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                        </svg>
                        <%= link_to "Certificado", "/users/certificado", style: "text-decoration: none; color: white", class: "me-2"%>
                    </button>
                </div>

                <div class="col">
                    <button type="button" class="btn btn-danger rounded-5 me-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle me-1 mb-1 ms-4" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                        <span class="me-3">Finalizar</span>
                    </button>
                </div>
            </div>
        </div>

        
    </div>


</div>

<!--MODAL-->
<div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Finalizar alquiler</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body m-2">
        <p>¿Está seguro que desea finalizar el alquiler del <strong><%=@auto.modelo%></strong>?</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <%= button_to "Finalizar", "/users/finalizar_alquiler", method: :put, class:"btn btn-danger"%>
        </div>
    </div>
    </div>
</div>

<script>
    // function that given a month number return the first three letters of the month
    function getMonthName(monthNumber) {
        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
        ];
        return monthNames[monthNumber-1];
    }

   // Set the date we're counting down to
   var month = <%= @alquiler.fecha_devolucion.month %>
    var day = "<%= @alquiler.fecha_devolucion.day %>"
    var year = "<%= @alquiler.fecha_devolucion.year %>"

    var countDownDate = new Date(`${getMonthName(month)} ${day}, ${year} <%= @tiempo_fin %>`).getTime();
    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();
        // format and display now


        // Find the distance between now and the count down date
        var distance = countDownDate - now;


        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        //If the count is less than 15 minutes, change the color to red
        if (distance < 900000 && distance > 300000) {
            document.getElementById("countdown").style.color = "red";
        }
        // // else, if the count is less than 5 minutes, alternate color
        else if (distance <= 300000) {
            if (document.getElementById("countdown").style.color == "red") {
                document.getElementById("countdown").style.color = "black";
            } else {
                document.getElementById("countdown").style.color = "red";
            }
        }        

        // Display the result in the element with id="demo"
        document.getElementById("countdown").innerHTML =  days + "d " +  hours + "h "
        + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "Tiempo finalizado";
        }
    }, 1000);

</script>