<head>
    <script src="https://kit.fontawesome.com/38e5d75ed7.js" crossorigin="anonymous"></script>
</head>

</body class="text-center">

<div class="mb-11vh mt-10vh d-flex justify-content-center flex-column align-items-center">
    
    
    <div class="d-flex flex-column " style="width:80%">
    <% if @minutos_restantes > 0 %>
        <% if @minutos_restantes <= 5 %>
            <div class="alert alert-danger  show p-2 w-80" role="alert" style="margin-bottom:1px">
                <strong>¡Atención!</strong> Te quedan menos de <%=@minutos_restantes%> minutos de alquiler
            </div>
        <% elsif @minutos_restantes <= 15 %>
            <div class="alert alert-warning   show p-2 w-80" role="alert" style="margin-bottom:1px">
                <strong>¡Atención!</strong> Te quedan menos de <%=@minutos_restantes%> minutos de alquiler
            </div>
        <%end%>
    <%end%>
         <%= render "users/shared/error_messages", resource: current_user%>
        <h4 class="p-2 align-self-start">Tu alquiler, <%=current_user.first_name %></h4>

        <div id="liveAlertPlaceholder"></div>

        <a class="card align-self-center text-black shadow" style="width: 16rem; text-decoration: none" href="/users/vehiculo/<%=@auto.id%>">
            <%if @auto.imagen.attached?%>
                <%= image_tag(@auto.imagen) %></td>
            <%else%>
                <label>Sin Foto</label>
            <%end%>
            <div class="card-body">
                <h5 class="card-title"><%=@auto.modelo%> <%=@auto.anio%></h5>
                <p class="card-text"><%=@auto.patente%></p>
            </div>
        </a>

        <div class="mt-4">
            <h5>Tiempo restante:</h5>
                <h4><div class="text-center pt-2 bold" id="countdown" style="color: #000000"></div></h4>
        </div>



        <div class="d-flex justify-content-around aaa" id="botones-arriba">

            <button type="button" class="btn btn-success shadow d-flex text-white justify-content-evenly bien_redondito" onclick="window.location.href='/users/certificado'" id="btn-cert">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-patch-check align-self-center" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                </svg>
            </button>

            <button type="button" class="btn btn-warning shadow d-flex text-white justify-content-evenly bien_redondito" onclick="window.location.href='/abrir_cerrar/<%=@auto.id%>'" id="btn-abrir">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="#FFFFFF" class="bi bi-key align-self-center" viewBox="0 0 16 16">
                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                </svg>
            </button>

            <button type="button" class="btn btn-primary shadow d-flex text-white justify-content-evenly bien_redondito" onclick="window.location.href='/users/reportes/new'">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-flag align-self-center" viewBox="0 0 16 16">
                    <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
                </svg>
            </button>

        </div>

        </div>





        <div class="d-flex justify-content-evenly bottom">

            <button  id="btn-confirm" class="btn btnn btn-secondary rounded-5 shadow d-flex text-white justify-content-evenly" data-bs-toggle="modal" data-bs-target="#modalProlongar" data-bs-whatever="">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock align-self-center me-1" viewBox="0 0 16 16">
                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                </svg>
                Prolongar
            </button>

            <% if !@auto.is_open? %>
                <button type="button" class="btn btnn btn-danger rounded-5 shadow d-flex text-white justify-content-evenly" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle me-1 align-self-center" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <span class="align-self-center">Finalizar</span>
                </button>
            <% else %>
                <button disabled type="button" class="btn btnn btn-danger rounded-5 shadow d-flex text-white justify-content-evenly" id="liveAlertBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle me-1 align-self-center" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <span class="align-self-center">Finalizar</span>
                </button>
            <% end %>

        </div>


    </div>

</div>
</body>

<!--MODAL PROLONGAR-->
<div class="modal fade" id="modalProlongar" tabindex="-1" aria-labelledby="modalProlongarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalProlongarLabel">Prolongar el alquiler</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <% @a = Alquiler.new %>
                <%= form_with model: @alquiler, url: "/users/prolongar_alquiler", method: :put do |form| %>
                <%= form.label "Fecha de Devolucion", required: true, class:"" %>
                <%= form.date_field :fecha_devolucion, class: "form-control", required: true, id:"datefield", min:'2022-01-01', max:'2122-01-01' %>
                <%= form.label "Hora de Devolucion", required: true, class:"" %>
                <%= form.time_field :hora_devolucion, class: "form-control", required: true, id:"timefield", min:'00:00'%>
                <div id="current_price" class="text-success text-center p-3 fs-5"></div>
                <p class="text-center" id="text-confirm"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <%= form.submit "Alquilar", class: "btn btn-success mt-2", id:"btn-yes" %>
            </div>
            <%end%>

            <div class="ms-2 me-2" id="recordatorio"></div>
        </div>
    </div>
</div>
<!--FIN MODAL PROLONGAR-->

<!--MODAL FINALIZAR-->
<div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Finalizar alquiler</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body m-2">
        <p>¿Está seguro que desea finalizar el alquiler del <strong><%=@auto.modelo%></strong>?</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <%= button_to "Finalizar", "/users/finalizar_alquiler", method: :put, class:"btn btn-danger"%>
        </div>
        <div class="alert alert-danger alert-dismissible fade show p-2 mt-2" role="alert" id="recordatorio${id}">
                            <strong>¡Recordatorio!</strong>El precio final del alquiler se calcula sobre las horas de reserva, no sobre las horas de uso.
                        </div>
    </div>
    </div>
</div>
<!--FIN MODAL FINALIZAR-->

<script>

    var abrir = document.getElementById("btn-abrir");
    abrir.style.transform = "rotate(90deg)";


    var today = new Date();
    var actual_time = today.getHours() + ":" + today.getMinutes();

    if (today.getMinutes() < 10) {
        actual_time = today.getHours() + ":0" + today.getMinutes();
    }
    if (today.getHours() < 10) {
        actual_time = "0" + today.getHours() + ":" + today.getMinutes();
    }

    document.getElementById("text-confirm").innerHTML = "Ingrese horario y fecha de devolución para ver el precio";
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    // console.log(today+0);
    var today_plus_ten_days = new Date(today.getTime() + 10 * 24 * 60 * 60 * 1000);
    var dd_plus_ten_days = today_plus_ten_days.getDate();
    var mm_plus_ten_days = today_plus_ten_days.getMonth() + 1; //January is 0!
    var yyyy_plus_ten_days = today_plus_ten_days.getFullYear();
    if (dd < 10) {
      dd = '0' + dd;
    }
    if (mm < 10) {
      mm = '0' + mm;
    }
    today = yyyy + '-' + mm + '-' + dd;
    if (dd_plus_ten_days < 10) {
      dd_plus_ten_days = '0' + dd_plus_ten_days;
    }
    if (mm_plus_ten_days < 10) {
      mm_plus_ten_days = '0' + mm_plus_ten_days;
    }
    today_plus_ten_days = yyyy_plus_ten_days + '-' + mm_plus_ten_days + '-' + dd_plus_ten_days;

    // function actualizarPrecio(){
    //     var date_value = today;
    //         if (date != null){
    //             date_value = date.value;
    //         }

    //         var difference_of_hours_between_today_and_date_value = (new Date(date_value).getTime() - new Date(today).getTime()) / 1000 / 60 / 60;
    //         console.log(difference_of_hours_between_today_and_date_value);

    //         // round to the higher integer the value of minutes and store it in a variable
    //         var minutes = Math.round(time.value.split(":")[1]/60 - parseInt(actual_time.split(":")[1])/60);

    //         console.log(minutes)
    //         // get the value of hours and store it in a variable
    //         var hours = parseInt(time.value.split(":")[0]) - parseInt(actual_time.split(":")[0]);
    //         // round hours to the higher integer if its positive and to the lower integer if its negative

    //         console.log(hours)
    //         var total_hours = hours + minutes + difference_of_hours_between_today_and_date_value;
    //         console.log(total_hours);
    //         if (total_hours <= 0){
    //             document.getElementById("btn-yes").disabled = true;
    //             // document.getElementById("btn-yes").setAttribute("href", "#");
    //             alert("La hora de devolución debe ser mayor a la hora actual");
    //             document.getElementById("current_price").innerHTML = "";
    //             document.getElementById("text-confirm").innerHTML = "Ingrese un horario válido";
    //         }
    //         else if (time.value != "") {
    //             document.getElementById("btn-yes").disabled = false;
    //             // document.getElementById("btn-yes").setAttribute("href", "#");
    //             //round to 2 decimal places
    //             var price = Math.round((total_hours * <%= Precio.last.valor %>) * 100) / 100;
    //             document.getElementById("current_price").innerHTML = "Costo total: <b>&#36;" + price +"</b>";
    //             document.getElementById("text-confirm").innerHTML = "¿Está seguro que desea alquilar al <%= @auto.modelo %>?";
    //             document.getElementById("recordatorio").innerHTML = `
    //                     <div class="alert alert-success alert-dismissible fade show p-2 mt-2" role="alert" id="recordatorio">
    //                         <strong>¡Recordatorio!</strong>  Recuerda que el precio del alquiler se computa por hora, por lo que 1:01 hs costará lo mismo que 2hs.
    //                     </div>`;
    //         }
    // }

    var date = document.getElementById("datefield");
    if (date != null){
      date.setAttribute("min", today);
      date.setAttribute("max", today_plus_ten_days);
    //   date.addEventListener("change", actualizarPrecio);
    }
    var time = document.getElementById("timefield");
    console.log(time)
    if (time != null){
      time.setAttribute("value", "");
    //   time.setAttribute("step", "3600");
        // time.addEventListener("change", actualizarPrecio);
    }

    //delete alert after 5 seconds
    setTimeout(function() {
        $('#liveAlertPlaceholder').alert('close');
    }, 5000);

    //delete alert after 5 seconds

    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')

    const alert = (message, type) => {
    const wrapper = document.createElement('div')
    wrapper.innerHTML = [
        `<div class="alert alert-${type} alert-dismissible" role="alert">`,
        `   <div>${message}</div>`,
        '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
        '</div>'
    ].join('')

    alertPlaceholder.append(wrapper)
    }

    const alertTrigger = document.getElementById('liveAlertBtn')
    if (alertTrigger) {
    alertTrigger.addEventListener('click', () => {
        alert('Las puertas del auto están abiertas! Cierralas para poder finalizar', 'danger')
    })

    }

    // function that given a month number return the first three letters of the month
    function getMonthName(monthNumber) {
        var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
            "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
        ];
        return monthNames[monthNumber-1];
    }

   // Set the date we're counting down to
   var month = <%= @alquiler.fecha_devolucion.month %>
    var day = "<%= @alquiler.fecha_devolucion.day %>"
    var year = "<%= @alquiler.fecha_devolucion.year %>"

    var countDownDate = new Date(`${getMonthName(month)} ${day}, ${year} <%= @tiempo_fin %>`).getTime();
    // Update the count down every 1 second
    var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();
        // format and display now


        // Find the distance between now and the count down date
        var distance = countDownDate - now;


        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        //If the count is less than 15 minutes, change the color to red
        if (distance < 900000 && distance > 300000) {
            document.getElementById("countdown").style.color = "red";
        }
        // // else, if the count is less than 5 minutes, alternate color
        else if (distance <= 300000) {
            if (document.getElementById("countdown").style.color == "red") {
                document.getElementById("countdown").style.color = "black";
            } else {
                document.getElementById("countdown").style.color = "red";
            }
        }

        // Display the result in the element with id="demo"
        document.getElementById("countdown").innerHTML =  days + "d " +  hours + "h "
        + minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "Tiempo finalizado";
            document.getElementById("btn-confirm").disabled = true;
            document.getElementById("btn-cert").disabled = true;
        }
    }, 1000);

</script>

<style>

    .btnn{
        width: 40%;
    }

    .aaa{
        position: fixed;
        bottom: 12%;
        left: 0;
        width: 100%;
        color: white;
        text-align: center;
    }

    .bottom {
        position: fixed;
        left: 0;
        bottom: 3%;
        width: 100%;
        color: white;
        text-align: center;
    }
</style>
