
<div class="mt-11vh">
  <h3 class="text-center p-4">Acá está tu saldo disponible, <strong><%= @wallet.user.first_name%></strong></h3>
</div>
<div class="container-fluid d-flex justify-content-center">
    <% if @wallet.saldo >= 0 %>
        <h1 class="m-4" style="color: green" id="saldo_verde">$ <%= @wallet.saldo %></h1>
    <% else %>
        <h1 class="m-4" style="color: red">$ <%= @wallet.saldo %></h1>
    <%end%>
    <!--<button type="button" class="btn btn-warning align-self-center" onclick="myFunction()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
        </svg>
    </button>-->
</div>





<table class="table text-center mt-3">
  <thead>
    <tr>
      <th scope="col" style="color: green">Última carga</th>
      <th scope="col" style="color: red">Último gasto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="color: green">
        $ <%= @wallet.ultima_carga %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
        </svg>
      </td>
      <td style="color: red">
        $ <%= @wallet.ultimo_gasto %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
        </svg>
      </td>
    </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-warning m-4" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color: white">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#FFFFFF" class="bi bi-cash-coin me-2" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/>
        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/>
        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/>
        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/>
      </svg>
      Cargar saldo
  </button>
</div>

<!-- Pay modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cargar saldo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" id="form1">
        
        <div class="row m-4 p-2">
        <select class="form-select mb-3" aria-label="Default select example" name="card_id" id="card_id">
          <% if !@cards.empty? %>
            <% @cards.each do |card| %>
              <option value="<%= card.id %>">
                <%= card.brand %>
                •
                <%= card.number %>
              </option>
            <% end %>
          <%else%>
            <option selected>No hay tarjetas cargadas</option>
          <%end%>
        </select>
          Tarjeta

          
          <button type="button" class="btn btn-warning mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#FFFFFF" class="bi bi-credit-card me-2" viewBox="0 0 16 16">
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
              <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
            </svg>
            <%= link_to "Cargar nueva tarjeta", "/cards/#{params[:user_id]}/create", style: "text-decoration: none; color: white"%>
          </button>
        </div>

        <%= form_for(@wallet, as: :wallet, url: "/wallets/cargar_saldo/#{@wallet.user_id}" , html: { method: :put, id:"form2" }) do |form| %>
        <div class="row m-4">
          <div class="col-7">
            <div class="form-outline">
              <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">$</span>
              <%= form.number_field :ultima_carga, class: "form-control", min: "0", required: true %>
              </div>
              <%= form.label "Monto" %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <% if @cards.empty? %>
            <%= form.submit "Pagar", class: "btn btn-warning", disabled:"true" %>
          <%else%>
            <%= form.submit "Pagar", class: "btn btn-warning" %>
          <%end%>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>


 <!-- Card modal
<div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Cargar nueva tarjeta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" id="form1">

        <% @card = @wallet.user.cards.new %>

        <%= form_for(@card, as: :card, url: "/cards/create/#{@wallet.user_id}", html: { method: :put }) do |form| %>

        <%= render "wallets/shared/error_messages", resource: @card %>

        <div class="row m-4">
          <div class="form-outline">
            <%= form.text_field :name, class: "form-control", placeholder: "Juan Perez", required: true %>
            <%= form.label :name, "Nombre en tarjeta" %>
          </div>
        </div>

        <div class="row m-4">
          <div class="form-outline">
            <%= form.number_field :number, class: "form-control", min: "100000000000000", max: "999999999999999999", placeholder: "XXXX XXXX XXXX XXXX", required: true %>
            <%= form.label :number, "Número de tarjeta" %>
          </div>
        </div>

        <div class="row m-4">

          <div class="col-5">
            <div class="form-outline">
              <%= form.date_field :date, class: "form-control", required: true, type:"month", id:"formExpiration" %>
              <%= form.label :date, "Vencimiento" %>
            </div> 
          </div>

          <div class="col-4">
            <div class="form-outline">
              <%= form.number_field :cvv, class: "form-control", min: "100", max: "999", placeholder: "123", required: true %>
              <%= form.label :cvv, "CVV" %>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <div><%= form.submit "Cargar", class: "btn btn-warning"%></div>
        </div>

        <% end %>


      </div>

    </div>
  </div>
</div> -->
