<div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
          <%# <img src="https://cdn.vectorstock.com/i/1000x1000/71/86/car-icon-orange-sticker-vector-1727186.webp" class="card-img-top" alt="..."> %>
<%# D:/6to_Ingenieria_de_Software/Alquilapp/app %>
        <h2 class="text-white">Bienvenido, <%= current_user.first_name %>!</h2>
           <%= link_to "Editar perfil", edit_user_registration_path, class: "nav-link" %>


          <a href="#">
          <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, style:"border:none"%>
          </a>
          <a href="#">Clients</a>
          <a href="#">Contact</a>
        </div>
     </div>


    <div class="border border-success d-flex z2 p-3 justify-content-between">
      <span class="btn btn-warning bien_redondito floating_btn text-white z2 " onclick="openNav()">&#9776;</span>

      <span class="btn btn-warning rounded-5 p-2 w-50 fs-5 floating_btn text-white d-flex justify-content-center align-items-center">
        <%= link_to "Alquilapp", root_path, class: "text-white", style:"text-decoration:none" %>
      </span>

      <span class="btn btn-warning bien_redondito floating_btn text-white z2 d-flex align-items-center p-2">
        <%= link_to "🚗", root_path, style:"text-decoration:none" %>
      </span>
    </div>
