<h1>Welcome to edit car</h1>

<% auto = Auto.new %>
<div style="padding-left: 20px">
  <%= form_for (@auto) do |f| %>

    <div class="form-group" style="margin-bottom: 5px">
      <%= f.label :patente %><br>
      <div class="col-md-2">
        <%= f.text_field :patente , class:"form-control"%>
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px">
      <%= f.label :anio, "Año" %><br>
      <div class="col-md-2">
        <%= f.text_field :anio, class:"form-control"%>
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px">
      <%= f.label :modelo %><br>
      <div class="col-md-2">
        <%= f.text_field :modelo, class:"form-control"%>
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px">
      <%= f.label :tipo_de_caja %><br>
      <div class="col-md-2">
        <%= f.select :tipo_de_caja, ["Automatico", "Manual"],  class:"form-select"%>
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px">
      <%= f.label :tipo_de_combustible %><br>
      <div class="col-md-2" >
        <%= f.select :tipo_de_combustible, ["Diesel", "Nafta", "Electrico"], class:"form-control"%>
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px">
      <%= f.label :porcentaje_combustible %><br>
      <div class="col-md-2">
        <%= f.number_field :porcentaje_combustible, in:0.0..100.0, step: 0.1, class:"form-control"%>
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px">
      <%= f.label :estado %><br>
      <div class="col-md-2">
        <%= f.select :estado, ["Disponible", "Ocupado", "En mantenimiento", "Necesita Atencion", "Inhabilitado"], class:"form-select"%>
      </div>
    </div>

    <div class="form-group" style="margin-bottom: 5px">
      <%= f.label :color %><br>
      <div class="col-md-2">
        <%= f.color_field :color, class:"form-control"%>
      </div>
    </div>

    <div style="margin-top: 10px">
      <%= f.submit %>
    </div>
    
  <%end%>
</div>