<h1>Listado de Vehículos</h1>


<% if current_admin.is_admin? %>
<br>
  <%= link_to "Crear nuevo Auto", new_auto_path, :class => "btn btn-primary " %>
<br>
<% end %>

<div class="container-sm">
 <hr>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th class="fs-5 text-center">ID</th>
        <th class="fs-5 text-center">PATENTE</th>
        <th class="fs-5 text-center">MODELO</th>
        <th class="fs-5 text-center">AÑO</th>
        <th class="fs-5 text-center">TIPO DE COMBUSTIBLE</th>
        <th class="fs-5 text-center">TIPO DE CAJA</th>
        <th class="fs-5 text-center">COMBUSTIBLE</th>
        <th class="fs-5 text-center">COLOR</th>
        <th class="fs-5 text-center">ESTADO</th>
        <th class="fs-5 text-center">MODIFICAR</th>
      </tr>
      <%-@autos.each do |auto|-%>
        <tr>
        <td class="font-size: 1rem text-center"><%= auto.id %></td>
        <td class="font-size: 1rem text-center"><%= auto.patente %></td>
        <td class="font-size: 1rem text-center"><%= auto.modelo %></td>
        <td class="font-size: 1rem text-center"><%= auto.anio %></td>
        <td class="font-size: 1rem text-center"><%= auto.tipo_de_combustible %></td>
        <td class="font-size: 1rem text-center"><%= auto.tipo_de_caja %></td>
        <td class="font-size: 1rem text-center"><%= auto.porcentaje_combustible %></td>
        <td class="font-size: 1rem text-center" style="background-color: <%= auto.color %>;"></td>
        <td class="font-size: 1rem text-center"><%= auto.estado %></td>
        <% if current_admin.is_admin? %>
        <td class="font-size: 1rem text-center"><%= link_to "Editar", edit_auto_path(auto.id), :class => "btn btn-primary" %></td>
        <% else %>
        <td>
          <%= form_for(auto, as: auto, url: "/autos/cambiarEstado/#{auto.id}" , html: { method: :put }) do |f| %>
          <%= f.select :estado, ["Disponible", "Ocupado", "En mantenimiento", "Necesita Atencion", "Inhabilitado"], class:"form-select", required: true%>
          <%= f.submit class:"btn btn-info p-1" %>
          <% end %>
        <% end %>
        </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>

<style>
 #myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
</style>

