<h1>Autos#listadoDeAutos</h1>
<p>Find me in app/views/autos/listadoDeAutos.html.erb</p>

<% @autos = Auto.all%>

<%# <%= search_form_for @q do |f| %>
  <%# <%= f.label :patente_cont %>
  <%# <%= f.search_field :patente_cont %>
<%# <% end %>

<%# <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."> %>
<%= link_to "Nuevo", autos_nuevoAuto_path, :class => "btn btn-primary" %>
<div>
  <table id="myTable">
    <tr class="header">
      <th class="text-center" style="width:4%;">ID</th>
      <th class="text-center" style="width:8%;">PATENTE</th>
      <th class="text-center" style="width:20%;">MODELO</th>
      <th class="text-center" style="width:5%;">AÑO</th>
      <th class="text-center" style="width:15%;">TIPO DE COMBUSTIBLE</th>
      <th class="text-center" style="width:15%;">TIPO DE CAJA</th>
      <th class="text-center" style="width:15%;">COMBUSTIBLE</th>
      <th class="text-center" style="width:2%;">COLOR</th>
      <th class="text-center" style="width:15%;">ESTADO</th>
      <th class="text-center" style="width:5%;">MODIFICAR</th>
    </tr>
    <% @autos.each do |auto| %>
      <tr>
        <td class="text-center"><%= auto.id %></td>
        <td class="text-center"><%= auto.patente %></td>
        <td class="text-center"><%= auto.modelo %></td>
        <td class="text-center"><%= auto.anio %></td>
        <td class="text-center"><%= auto.tipo_de_combustible %></td>
        <td class="text-center"><%= auto.tipo_de_caja %></td>
        <td class="text-center"><%= auto.porcentaje_combustible %></td>
        set background color of table row to red
        <td class="text-center" style="background-color: <%= auto.color %>;"></td>
        <td class="text-center"><%= auto.estado %></td>
        <td class="text-center"><%= link_to "Editar", root_path, :class => "btn btn-primary" %></td>
        <%# <td class="text-center"><%= link_to "Editar", autos_editarAuto_path(auto.id), :class => "btn btn-primary" %></td> %>
      </tr>
    <% end %>
  </table> 
</div>

<style>
 #myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
</style>

<script>
<function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<%# <% @autos.each do |auto|%>
    <%# <tr> %>
        <%# <td><%=auto.id%>
    <%# </tr> %>
<%# <% end %>
<!--<%= @autos.inspect%>