<h1>Autos#listadoDeAutos</h1>
<p>Find me in app/views/autos/listadoDeAutos.html.erb</p>

<% @autos = Auto.all%>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
  <table id="myTable">
  <tr class="header">
    <th style="width:10%;">ID</th>
    <th style="width:20%;">PATENTE</th>
    <th style="width:20%;">MODELO</th>
    <th style="width:35%;">COMBUSTIBLE</th>
    <th style="width:25%;">ESTADO</th>
  </tr>
  <% @autos.each do |auto| %>
     <tr>
      <td><%= auto.id %></td>
      <td><%= auto.patente %></td>
      <td><%= auto.modelo %></td>
      <td><%= auto.porcentaje_combustible %></td>
      <td><%= auto.estado %></td>
     </tr>
   <% end %>
</table>

<style>
 #myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}
</style>

<script>
<function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<%# <% @autos.each do |auto|%>
    <%# <tr> %>
        <%# <td><%=auto.id%>
    <%# </tr> %>
<%# <% end %>
<!--<%= @autos.inspect%>