<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container container-fluid">
    <%= link_to "Alquilapp", root_path, class:"navbar-brand" %>
    <%# <a class="navbar-brand" href="#">Alquilapp</a> %>
    <%# <%= button_to "Listar autos", autos_path,  %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
        <%# <li class="nav-item"> %>
          <%# <%= link_to "Listar autos", "/autos", class:"nav-link" %>
        <%# </li> %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Vehiculos
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to "Listar", '/autos', class:"dropdown-item" %> </li>
            <% if current_admin.is_admin %>
            <li> <%= link_to "Nuevo", '/autos/new', class:"dropdown-item" %> </li>
              <li> <%= link_to "Precio", '/precios', class:"dropdown-item" %> </li>
            <% end %>
          </ul>
        </li>
        <% if current_admin.is_admin %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Supervisores
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to "Listar", '/admins/listar_supervisores', class:"dropdown-item" %> </li>
            <li> <%= link_to "Nuevo", '/admins/sign_up', class:"dropdown-item" %> </li>
          </ul>
        </li>
        <% end %>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuarios
          </a>
          <ul class="dropdown-menu">
            <li> <%= link_to "Todos", admins_listar_usuarios_path, class:"dropdown-item" %> </li>
            <li> <%= link_to "No validados", admins_listar_no_validados_path, class:"dropdown-item" %> </li>
          </ul>
        </li>

        <li class="nav-item">
          <%= link_to "Reportes", '/admins/listado_reportes', class:"nav-link" %>
        </li>

        <div class="btn-group nav-item">
          <%= link_to "Estadisticas", '/admins/estadisticas/', class:"nav-link" %>
          <button type="button" class="btn nav-link dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to "Reservas", '/admins/estadisticas/alquileres', class:"dropdown-item" %></li>
            <li><%= link_to "Ganancias", '/admins/estadisticas/ganancias', class:"dropdown-item" %></li>
            <li><%= link_to "En curso", '/admins/estadisticas/en_curso', class:"dropdown-item" %></li>
            <li><%= link_to "Reportes", '/admins/estadisticas/reportes', class:"dropdown-item" %></li>
          </ul>
        </div>

        <!--<li class="nav-item">
          <%= link_to "Listar usuarios", admins_listar_usuarios_path, class:"nav-link" %>
        </li>-->
      </ul>
      <%# <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>

      <%= image_tag "logo.png", width: 20, class:"p-1 icon_img_admins d-flex" %>
      <%= button_to "Logout", destroy_admin_session_path, method: :delete, class:"btn btn-info", style:"background-color:white; border-color:white"  %>
    </div>
  </div>
</nav>
