<h1>Precio por hora actual</h1>

<% if @precio == nil %>
  <h2 style="text-align: center"> No hay precio cargado </h2>
<% else %>
    <h1 class="m-4" style="color: green; text-align: center; font-size: 4em;">$ <%= @precio.valor %></h1>
<% end %> 

<!-- button triger modal -->
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-warning m-4" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Modificar precio
  </button>
</div>

<h2>Precios pasados</h2>
<% @precios = Precio.all.reverse%>

<div class="container-sm">
 <hr>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th class="fs-5 text-center">PRECIO</th>
        <th class="fs-5 text-center">FECHA DE ACTUALIZACION</th>
      </tr>
      <%-@precios.each do |p|-%>
        <tr>
        <td class="font-size: 1rem text-center">$<%= p.valor %></td>
        <td class="font-size: 1rem text-center"><%= p.fecha_de_actualizacion.strftime("%d/%m/%Y") %></td>
        </tr>
      <%end%>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar precio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <%= form_for(@precio, as: :precio, url: "/precios/editarPrecio" , html: { method: :post }) do |form| %>
        <div class="row m-4">
          <div class="col">
            <div class="form-outline">
              <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">$</span>
              <%= form.number_field :valor, class: "form-control", min: "0", required: true, step: "any" %>
              </div>
              <%= form.label "Monto" %>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <%= form.submit "Modificar", class: "btn btn-warning" %>
        </div>
        <% end %>
      </div>
      
    </div>
  </div>
</div>
