<!DOCTYPE html>
<html>
  <head>
    <title>Alquilapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container>
       <div class="col-sm-3">
          <%= render "application/left_sidebar" %>
        </div>
        <div class="col-sm-5 border border-top-0">
          <%= yield %>
        </div>
    </div>
  </body>
</html>
