<!DOCTYPE html>
<html>
  <head>
    <title>Alquilapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>


  <body>

     <% if notice != nil%>
      <div class="close_alert alert alert-success alert-dismissible fade show p-2" role="alert" style="margin-bottom:1px">
          <%= notice %>
          <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <%end%>
    <% if alert != nil%>
      <div class="close_alert alert alert-danger alert-dismissible fade show p-2 d-flex" role="alert">
          <%= alert %>
          <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <%end%>

    <div class="d-flex flex-column element-mobile-100vh" >

      <div style="z-index:1">
      <%= render "users/partials/menu" %>


    <div class="container" style="flex-grow:1; z-index:-1">
      <% if current_user.is_being_validated? %>
        <div class="alert alert-warning alert-dismissible fade show p-2" role="alert" style="margin-bottom:1px">
          <strong>¡Atención!</strong> Tu cuenta está siendo validada por un administrador. No podrás realizar reservas hasta que tu cuenta sea validada.
          <%# <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button> %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

    <%# check if current user not on edit path %>
    <div style="z-index:1">
    <% if  !request.original_url.include?("edit") && !request.original_url.include?("updateUser") %>
      <%= render "users/partials/footer" %>
    <% end %>
    </div>

    </div>

  </body>


  <script>
    // function getCity(lat, lon) {
    //   var xhttp = new XMLHttpRequest();
    //   xhttp.onreadystatechange = function() {
    //     if (this.readyState == 4 && this.status == 200) {
    //       var result = JSON.parse(this.responseText);
    //       document.getElementById("myCity").innerHTML = "📍 " + removePartido(result.address.state_district);
    //     }
    //   };
    //   xhttp.open("GET", "https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat="+lat+"&lon="+lon, true);
    //   xhttp.send();
    // }

    // get user city bases on coordinates using jquery
    function getCity(lat, lon) {
      $.ajax({
        url: "https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat="+lat+"&lon="+lon,
        type: "GET",
        success: function(result){
          console.log(result);
          document.getElementById("myCity").innerHTML = "📍 " + removePartido(result.address.state_district);
        }
      });
    }


    function removePartido(city){
      if(city.includes("Partido de ")){
        city = city.replace("Partido de ", "");
      }
      return city;
    }


    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
       document.getElementById("myCity").innerHTML = "No te puedo encontrar";
    }

    function showPosition(position) {
      getCity(position.coords.latitude, position.coords.longitude);
    }

    // function getLocation() {

    // }


    let vh = window.innerHeight * 0.01;
    // Then we set the value in the --vh custom property to the root of the document
    document.documentElement.style.setProperty('--vh', `${vh}px`);



    // delete myalert after 5 seconds
    setTimeout(function() {
      var element = document.getElementsByClassName("close_alert");
      element[0].parentNode.removeChild(element[0]);
    }, 3000);

    // hide and show navbar when button
    function openNav() {
      document.getElementById("myNav").style.width = "65%";
    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }

    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
      dd = '0' + dd;
    }

    if (mm < 10) {
      mm = '0' + mm;
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("max", today);

  </script>
</html>
