<div class="border">
  <h2>Registrarse</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :licencia %>
      <%= f.file_field :licencia, required: true %>
    </div>

    <div class="field">
      <%= f.label :Email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
    </div>

    <div class="field">
      <%= f.label :Constraseña %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres como mínimo)</em>
      <% end %><br />
      <div class="d-flex align-items-center">
        <%= f.password_field :password, autocomplete: "new-password", required: true, minlength: 6, id:"user_password"  %>
        <i  class="fa" id="eye">&#xf06e;</i>
      </div>
    </div>

    <div class="field">
      <%= f.label "Confirmación de contraseña" %><br />
      <div class="d-flex align-items-center">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, minlength: 6, id:"user_password_confirmation" %>
        <i  class=" fa " id="eye2">&#xf06e;</i>
      </div>
    </div>

    <div class="field">
      <%= f.label :Nombre %><br />
      <%= f.text_field :first_name, required: true, minlength: 3, maxlength: 50, size:20 %>
    </div>

    <div class="field">
      <%= f.label :Apellido %><br />
      <%= f.text_field :last_name, required: true, minlength: 3, maxlength: 50, size:20 %>
    </div>

    <div class="field">
      <%= f.label :Numero_de_telefono %><br />
      <%= f.number_field :phone, required: true, placeholder:"Ej: 2214230649" %>
    </div>

    <div class="field">
      <%= f.label :fecha_de_nacimiento %><br />
      <%= f.date_field :birth_date, required: true, id:"datefield", min:'1899-01-01', max:'0-13-13' %>
    </div>

    <hr>
    <div class="actions">
      <%= f.submit "Sign up", class:"btn btn-info p-1"%>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
